body{
    background-color: black;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
.post{
    justify-content: center;
    background-color: white;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
.cabecera{
    margin-left: 5%;
    padding-top: 2%;
    display:flex;
}
#logohtml5 {
    margin-top: 2%;
}
.escritohtml {
    margin-left: 2%;
}
#trespuntos {
    margin-left: 78%;
    margin-top: 2%;
}

#fotoislandia{
width: 100%;
margin-bottom: 3%;
}
.cuerpo {
    margin-left: 5%;
    margin-bottom: 5%;
}
.iconos{
    display:flex;
}

#coment{
    margin-left:2%;
    margin-right:2%;

}
#guardar{
    margin-left:75%;
}

#descripcion1{
    padding: 0% 5% 5% 0%;
    text-align: justify;
}